@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>SuperHeroes Websites</h1>
    <p class="lead">SuperHeroes Websites is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="../Hero/Create" >Create more superhero list &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2> Favorite  SuperHeroes .....</h2>
        <img src="../images/download.jfif"
             alt="Responsive Image"
             width="200" height="207" />

    </div>
    <div class="col-md-4">
        <h2>Get more SuperHeroes</h2>
        <p><img src="../images/superHeroes.jpg"  alt="Responsive Image"  width="200" height="207" />&raquo;</p>
    </div>
    <div class="col-md-4">
        <h2>Superhero List</h2>
        <p>You can easily find a web list of superheroes that offers the edit,details and delete for your applications.</p>
        <p><a class="btn btn-default"  href="../Hero/List" >See the List&raquo;</a></p>
    </div>
</div>